.newtask {
    margin-bottom: 1vw;
}

.newtask h3 {
    text-align: left;
    color: white;
}

.newtask input {
    display: block;
    width: 80%;
    box-shadow: 3px 3px 3px rgb(204, 204, 204, 0.5);
    border: none;
    border-radius: 1px;
    height: 3vw;
    margin: 0 auto;
}