* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.8rem;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8rem;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.8rem;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8rem;
  font-style: italic;
}


@media screen and (max-width: 320px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}


